<h1 class="text-center my-2 text-secondary">my badges</h1>
<div class="cards d-flex">
  <% current_user.badges.each do |badge| %>
    <div class="text-center m-3">
      <h1><%= content_tag :i, "", class: "fa fa-#{badge.custom_fields[:icon]}" %></h1>
      <p><%= badge.name %></p>
      <p><%#= badge.name %></p>
      <h2> <%#= current_user.games.count %></h2>
    </div>
  <% end %>
</div>
