<div class="container">
  <div class="w-100 bg-light p-2">
    <%= render "shared/user_card" %>
    <%= render "stat_cards" %>
  </div>
  <%= render "badges" %>
  <%= link_to "Play!", game_load_path, class: "btn btn-primary text-light fixed-bottom" %>
</div>
