.home {
  height: 100vh;
  place-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  img{
    position: absolute;
    width: 200px;
    top: 5%;
  }
  .buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 55%;

    .user{
      margin-top: 30px;
      text-align: center;
      a{
        font-size: 20px;
      }
    }
    .start{
      .start-btn {
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #e67e22;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        width: 5em;
        height: 3em;
        margin-bottom: 50px;

        &:hover {background-color: #bf5f0b}

        &:active {
          background-color: #bf5f0b;
          box-shadow: 0 5px #666;
          transform: translateY(4px);
        }
      }
      .mypage-btn {
        display: inline-block;
        padding: 15px 25px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #66c7d4;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        width: 9em;
        height: 3em;

        &:hover {background-color: #bf5f0b}

        &:active {
          background-color: #bf5f0b;
          box-shadow: 0 5px #666;
          transform: translateY(4px);
        }
      }
    }
  }
}
