<div class="card-user" style="background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(<%=  image_path('cloud.png') %>)">
  <div class="prof-pic">
    <%= image_tag "pilot.png", alt: "text" %>
  </div>
  <div class="card-user-infos">
    <h2><%= current_user.username %></h2>
    <h3><%= current_user.points %> Miles</h3>
    <p> a plane <strong>enthusiast</strong> <i class="fa-solid fa-plane"></i></p>
  </div>
</div>
