<div class="card-user">
  <%= image_tag "satoshi.png", alt: "text" %>
  <div class="card-user-infos">
    <h2><%= current_user.username %></h2>
    <h3>Level 50</h3>
    <p>Pikachu <strong>lover</strong> ready to catch them all</p>
  </div>
</div>
