<div>
  <div class='ms-3'
    data-controller = 'map'
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>"
    style="height: 500px; width: 100%;">
  </div>
</div>
