.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.wrong-icon {
  font-size: 60px !important;
  color: #FF4500 !important;
  animation: shake 1.5s infinite;
  margin-bottom: 100px;
}

/* Shake effect */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.big-colorful-correct {
  font-size: 60px !important;
  color: #34fa69 !important;
  animation: bounce 1s infinite;
  margin-bottom: 100px;
}


@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
