.badges-container {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  .badge-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
    // overflow: auto;
    margin-bottom: 30px;
    place-items: center;
    padding: 30px;
    .badge-card {
      width: 164px;
      height: 141px;
      padding: 30px;
      margin: 0;
    }
  }
  @media (min-width: 100px) and (max-width: 575px) {
    .badge-cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 576px) {
    .badge-cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 768px) {
    .badge-cards {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  @media (min-width: 992px) {
    .badge-cards {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
