.button-catch {
  width: 10em;
  height: 3.5em;
  color: black;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px ridge black;
}
