.question-form legend {
  color: white;
  text-align: center;
  background-color: grey;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.arrival-airport-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}


.arrival-airport-item {
  flex: 0 0 30%;
  margin-bottom: 15px;
  box-sizing: border-box;
}


.arrival-airport-selector {
  position: absolute;
  transform: scale(0);
}


.arrival-airport-selector + label {
  display: flex;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 10px 10px 30px 10px;
  border: 5px solid #EAEAEA;
  border-radius: 10px;
  background-color: white;
  height: 65px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  animation: borderColorChange 3s infinite;
}


@keyframes borderColorChange {

  25% {
    border-color: #b0e0e6;
  }
  50% {
    border-color: #6495ed;
  }
  75% {
    border-color: #1560bd;
  }
  100% {
    border-color: #2243b6;
  }
}


.arrival-airport-selector:checked + label {
  background-color: #b0e0e6;
  color: white !important;
}


@media screen and (max-width: 768px) {
  .arrival-airport-item {
    flex: 0 0 48%;
  }
}

@media screen and (max-width: 480px) {
  .arrival-airport-item {
    flex: 0 0 100%;
  }
  .arrival-airport-selector + label {
    font-size: 14px;
    padding: 12px;
  }
}

/* Add a class for the hidden state */
.hidden {
  display: none !important;
}

/* Center the selected radio button */
.centered-radio-button {
  display: block;
  margin: 0 auto;
  width: 60%;
  animation: moveCenter 0.5s ease-out;
}

@keyframes moveCenter {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
