.question-form legend {
  display: flex;
	cursor: pointer;
	width: 100%;
	font-weight: bold;
	height: 22px;
	cursor: pointer;
	background: transparent;
	border: 0px solid #222;
	border-radius: 10px;
	color: white;
	font-size: 30px;
	justify-content: center;
	align-items: center;
  margin-bottom: 10px;
}

.arrival-airport-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  gap: 10px;
  margin: -10px;
}


.arrival-airport-item {
  flex: 0 0 30%;
  margin-bottom: 15px;
  box-sizing: border-box;
  color: white;
  /* box-shadow: 0 0 0 1px #0E508C inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #444, 0 8px 8px 1px rgba(0, 0, 0, 0.5); */
  /* background-color: #444;;
  background: #0E508C; */
  background: rgba(20, 20, 20, 0.8);
  /* border: 0px solid #222; */
  border: solid 3px #6AC6D4;
  border-radius: 2.75em;
  transform-style: preserve-3d;
  box-shadow: 0 0 8px #6AC6D4;

  label {
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.83);
  }

}

.arrival-airport-item:active,
.arrival-airport-item.active {
  /* box-shadow: 0 0 0 1px #444 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3); */
  background-color: #94bcef;
}

.arrival-airport-selector {
  position: absolute;
  transform: scale(0);
}


.arrival-airport-selector + label {
	display: flex;
	cursor: pointer;
	width: 100%;
	font-weight: bold;
	/* height: 85px; */
  height: 100px;
  border: 0px solid #222;
  color: white;
	font-size: 32px;
	justify-content: center;
	align-items: center;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
  text-align: center;
}

.arrival-airport:hover :checked {
	color: White;
	transition: 500ms;
}

.arrival-airport:focus {
	outline: none;
}


.arrival-airport-selector:checked + label {
  background-color: transparent;
  color: white;
}

@media screen and (max-width: 768px) {
  .arrival-airport-item {
    flex: 0 0 48%;
  }
}
