#ar {
  a-scene {
    z-index: 2;
  }
}

.form-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  z-index: 200;
}

.form-container-ticket {
  position: absolute;
  bottom: 8px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  z-index: 200;
}

.location {
  z-index: 501;
  position: relative;
  padding: 8px;
  margin: 8px;

  span {
    padding: 8px;
    color: rgb(106, 198, 212);
    border: 1 solid rgb(106, 198, 212);
    border-radius: 32px;
    background-color: black;
  }
}

.form-container-grid {
  display: grid;
  gap: 20px; /* Gap between columns and rows */
  margin-bottom: 5px;
}

/* Add padding and margin to form elements */
.form-container-column {
  padding: 10px;
  background: rgba(255, 255, 255, 0.8); /* Make the form container semi-transparent */
  box-sizing: border-box;
}

.start-btn {
  width: 2em;
  height: 2em;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 2em;
  // background-color: rgba(255, 255, 255, 0.7);
  outline: none;
}

.centered {
  height: 40%;
  justify-content: center;
  position: absolute;
  align-items: end;
  top: 0%;
  display: flex;
  flex-direction: row;
  width: 20%;
  margin: 0px auto;
  left: 0;
  right: 0;
  z-index: 500;
}

.centered-top {
  height: 40%;
  justify-content: center;
  align-items: end;
  position: absolute;
  top: 0%;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px auto;
  left: 0;
  right: 0;
  z-index: 999;

  .round-dashed-circle {
    width: 80%;
    height: 70%;
    border: 3px dashed rgba($color: #0E508C, $alpha: 0.3);
    border-radius: 24px;
    display: inline-block;
  }
}


.quiz {
  position: relative;
  z-index: 99;
}
