@keyframes handwriting {
  0% {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
    transform: translateY(10px) rotate(-5deg);
  }

  50% {
    opacity: 1;
    transform: translateY(0) rotate(-10deg);
    /* Default for Departure & Arrival */
  }

  100% {
    clip-path: inset(0 0 0 0);
    transform: rotate(-8deg);
  }
}

/* Separate Animation for Airline (Less Rotation) */
@keyframes handwriting-airline {
  0% {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
    transform: translateY(10px) rotate(-3deg);
  }

  50% {
    opacity: 1;
    transform: translateY(0) rotate(-5deg);
    /* Less rotation for Airline */
  }

  100% {
    clip-path: inset(0 0 0 0);
    transform: rotate(-5deg);
  }
}


.ticket-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  position: relative;
  margin-right: 8px;
  margin-left: 8px;

  .ticket {
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: left;
    position: relative;
    margin-bottom: 50px;

    .new-badges {
      img {
        height: 100px;
        width: 100px;
      }
    }

    .divider {
      border-top: 1px solid #ddd;
      margin: 10px 0;
    }

    .airport {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 0px;
    }

    .airline {
      font-size: 32px;
      font-weight: bold;
    }

    .ticket-text {
      font-size: 16px;
      margin-bottom: 0px;
    }

    .ticket-text-bold {
      font-size: 24px;
      font-weight: bold;
    }

    .departure-checkmark {
      position: absolute;
      top: 95px;
      left: 60px;
    }

    .arrival-checkmark {
      position: absolute;
      top: 95px;
      right: 0px;
    }

    .airline-checkmark {
      position: absolute;
      top: 360px;
      right: 100px;
    }

    .correct-answer {
      font-family: "Comic Neue", cursive;
      font-size: 72px;
      font-weight: 900;
      color: red;
      opacity: 0;
      clip-path: inset(0 100% 0 0);
      transform: translateY(10px);
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

    .departure-correct-answer {
      position: absolute;
      top: 85px;
      left: 60px;
    }

    .arrival-correct-answer {
      position: absolute;
      top: 85px;
      right: 10px;
    }

    .airline-correct-answer {
      position: absolute;
      top: 362px;
      left: 100px;
      font-size: 48px;
    }

    .hidden {
      opacity: 0;
      transform: scale(0.5);
    }

    .fade-in {
      opacity: 1;
      transform: scale(1);
      transition: opacity 1s ease-in, transform 0.5s ease-in;
    }
  }
}
